discord-webhook
requests
DateTime
uuid
pynput
pycryptodome
pycryptodomex
PyGetWindow
opencv-python
PyAutoGUI
sockets
lib-platform
subprocess.run
psutil
getpass4
pytest-shutil
ctypes-callable
logging
pybase64
pypiwin32
threaded